<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name="google-site-verification" content="{{ site.theme_config.google_verify }}"/>
  <meta name="robots" content="index, follow">

  <!-- Standard Stuff -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% if site.rss %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.rss }}" />
  {% endif %}
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{site.baseurl}}/assets/img/icons/favicon.ico" type="image/x-icon" />

  <!-- Google Authorship Markup -->
  <link rel="author" href="https://plus.google.com/{{site.gplus_username}}?rel=author">

  {% include twitter-card.html %}
  {% include open-graph.html %}

  <link rel="manifest" href="{{site.baseurl}}/manifest.json">

  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
  <link rel="icon" sizes="192x192" href="/assets/images/chrome-touch-icon-192x192.png">
  <link rel="shortcut icon" href="/assets/images/chrome-touch-icon-192x192.png">

  {% include dns-prefetch.html %}

  <style>
    {% include critical.css %}
  </style>

  <link rel="stylesheet" href="{{ "/assets/styles/main.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">
</head>
