.header{
  top: 0;
  display: flex;
  align-items: center;
  // color: white;
  font-weight: 300;
  font-family: 'Poppins Light',sans-serif;
  font-size: 12px;
  // position: fixed;
  min-height: 59px;
  width: 100%;
  flex-wrap: wrap;
  z-index: 4;
  transition: background-color .3s ease;
  will-change: transform;

  &__brand {
    // color: white;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 10px 20px;
    font-family: 'Neuzeit Grotesk Bold',sans-serif;
  }

  &__social {
    display: flex;
    align-items: center;
    padding-right: 12px;
    margin-left: auto;
  }

  svg {
    width: 32px;
    height: 32px;
    fill: red;
  }

  &.transparent {
    background: transparent;
  }

  padding-top: 32px;
  padding-bottom: 64px;

  .container {
    display: flex;
    align-items: center;
  }
}

// NEW
.main-header {
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
  margin-bottom: 3rem;
  text-align: center;
  background: #222 no-repeat center center;
  background-size: cover;
  overflow: hidden;

  &.post-header {
    height: 65vh;
    min-height: 200px;
    margin-bottom: 0;
  }
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

.covering-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.page-title {
  margin: 10px auto;
  font-size: 3rem;
  color: $white;
  width: 80%;
  max-width: 45rem;
  position: relative;
  z-index: 3;

  &.animate {
    animation: fade-in-down 600ms;
    animation-delay: 200ms;
  }
}

@media only screen and (max-width: 768px) {
  .page-title {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .page-title {
    font-size: 1.875rem;
  }
}