.header{
  width: 100%;
  margin-bottom: rem(60);
  background-color: $base-dark;
  background-image: linear-gradient(to bottom right, rgba($base-color,0.9), rgba($base-dark,0.9));
  font-family: $heading-font-family;
  color: white;

  .author {
    margin: 0 auto;
    max-width: $content-width;
    padding-left: 0;
    padding-right: 0;
    border: none;
    animation: fade 600ms ease;
  }

  img {
    min-width: 120px;
  }

  p {
    color: inherit;
  }
}

// NEW
.main-header {
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
  margin-bottom: 3rem;
  text-align: center;
  background: #222 no-repeat center center;
  background-size: cover;
  overflow: hidden;

  &.post-header {
    height: 65vh;
    min-height: 200px;
    margin-bottom: 0;
  }
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

.covering-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.page-title {
  margin: 10px auto;
  font-size: 3rem;
  color: $white;
  width: 80%;
  max-width: 45rem;
  position: relative;
  z-index: 3;

  &.animate {
    animation: fade-in-down 600ms;
    animation-delay: 200ms;
  }
}

@media only screen and (max-width: 768px) {
  .page-title {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .page-title {
    font-size: 1.875rem;
  }
}